body{
    margin: 0;
    padding: 0;
}

.top-flex{
    margin: 10px;
    margin-bottom: 50px;
}

h1{
    font-size: 2.5rem;   
}

.description-container{
    font-family: 'Poppins', sans-serif;
}
.description-container h2{
    font-weight:900;
    font-size: larger;
}

.mid-flex{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}
.staff-member{
    
    width: 40%;
    margin: 5px 18px;
}
.photo{
    width: 140px;
}

.vertical-text{
    position: absolute;
    display: inline-block;
    writing-mode: vertical-lr;
    margin: 0 5px;
    font-size: 0.6rem;
   
}
h3{
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 800;
    margin: 5px 0;
}
.lower{
    margin-top: 60px;
    margin-right: 15px;
}
footer{
    margin-top: 100px;
    text-align: center;
    color: #A9A9A9;
}
a{
    color: #A9A9A9;
}

@media (min-width: 1024px){
    body{
        /* padding: 100px 200px; */
    }
    .top-flex{
        display: flex;
        margin-left: 10%;
        margin-top: 8%;
    }
    h1{
        margin-top: 0;
    }
    .description-container{
        margin-left: 20%;
        width: 30%;
    }
    .mid-flex{
        justify-content:center;
    }
    .staff-member{
        width: 25%;
        
    }
    .photo{
        width: 90%;
    }
    .lower{
        margin-top: 0%;
    }
    .lower-m{
        margin-top: 60px;
    }
    .vertical-text{
        font-size: 1rem;
        height:max-content;
    }
    
}